<!-- Main Js -->
 <script src="{{site.baseurl}}/assets/js/av-min.js"></script>
 <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
 <script type="text/javascript">
 	 new Valine({
        el: '#comments' ,
		appId: '{{ site.valine.appid }}',
        appKey: '{{ site.valine.appkey }}',
        verify: '{{ site.valine.verify }}',
        notify: '{{ site.valine.notify }}',    
        placeholder: '{{ site.valine.placeholder }}',
        avatar: '{{ site.valine.avatar }}',
		meta: ['nick'],
        pageSize:'{{ site.valine.pageSize }}',
		visitor: true
    });

    //增加以下六行代码去除 power by valine
    var infoEle = document.querySelector('#comments .info');
    if (infoEle && infoEle.childNodes && infoEle.childNodes.length > 0){
      infoEle.childNodes.forEach(function(item) {
        item.parentNode.removeChild(item);
      });
    }
  </script>

<script>

var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}

var client = new HttpClient();
var logstring;
var arr;
var v_location;



client.get('https://www.cloudflare.com/cdn-cgi/trace', function(data) {

logstring=data;

});


arr=logstring.split(/[\s\n]/);

const VisitorL = AV.Object.extend('VisitorL');
const visitl = new VisitorL();

var test = window.location.pathname;

visitl.set('ip_address',   arr[2].split("=")[1]);
visitl.set('visit_scheme',   arr[4].split("=")[1]);
visitl.set('uag_5to12',   arr[5]+" "+arr[6]+" "+arr[7]+" "+arr[8]+" "+arr[9]+" "+arr[10]+" "+arr[11]+" "+arr[12]);
visitl.set('browser_type',arr[14]);

v_location = geoplugin_city();

visitl.set('location',v_location);
visitl.set('page_href',test);

visitl.save().then((visitl) => {
  console.log(`saved successful objectId：${visitl.id}`);
}, (error) => {

});

</script>
