<script src="{{site.baseurl}}/assets/js/av-min.js"></script>
<script>

var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}

const query = new AV.Query('VisitorL');
query.descending('createdAt');
query.equalTo('location', 'unprepared');
query.find().then((visitors) => {
    var client_inner = new HttpClient();
    var v_location;
    client_inner.get('https://ipapi.co/' + visitors.ip_address + '/json/', function (data) {
        const obj = JSON.parse(data);
        v_location = obj.city + " " + obj.region + " " + obj.country_name;
        
        visitors.set('location', v_location);
        visitors.save().then((visitors) => {
            console.log(`updated successful objectId：${visitors.id}`);
        }, (error) => {

        });

    });
</script>
