{% if site.valine.enable %}
 
  <div id="comments"></div>
   <script type="text/javascript">

    new Valine({
        el: '#comments' ,
        verify: '{{ site.valine.verify }}',
        notify: '{{ site.valine.notify }}',
        appId: '{{ site.valine.appid }}',
        appKey: '{{ site.valine.appkey }}',
        placeholder: '{{ site.valine.placeholder }}',
        avatar:'{{ site.valine.avatar }}',
        guest_info: 'nick' ,
        pageSize:'{{ site.valine.pageSize }}',
		visitor: true
    });

    //增加以下六行代码去除 power by valine
    var infoEle = document.querySelector('#comments .info');
    if (infoEle && infoEle.childNodes && infoEle.childNodes.length > 0){
      infoEle.childNodes.forEach(function(item) {
        item.parentNode.removeChild(item);
      });
    }
  </script>

{% endif %}


