{% if site.valine.enable %}
  <script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <script src="{{site.baseurl}}/assets/js/Valine.min.js"></script> 
  <div id="comments"></div>
   <script type="text/javascript">
 $(function() {
      var valine = AV.Object.extend("Valine");
	  valine.set("el",'#comments');
	  valine.set("verify",'{{ site.valine.verify }}');
	  valine.set("notify",'{{ site.valine.notify }}');
	  valine.set("placeholder",'{{ site.valine.placeholder }}');
	  valine.set("avatar",'{{ site.valine.avatar }}');
	  valine.set("guest_info",'nick');
	  valine.set("pageSize",'{{ site.valine.pageSize }}');
	  
	    //增加以下六行代码去除 power by valine
    var infoEle = document.querySelector('#comments .info');
    if (infoEle && infoEle.childNodes && infoEle.childNodes.length > 0){
      infoEle.childNodes.forEach(function(item) {
        item.parentNode.removeChild(item);
      });
    }  
	  });
  </script>

{% endif %}


