---
layout: main
---

<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
	

	
	    
<!-- Begin Comment -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">  
<div id="gitalk-container"></div>
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>  
  const gitalk = new Gitalk({
  clientID: '2b59f4d2800b2ad772f0',
  clientSecret: '79ebe81eb29a5616fc538c9543ea427b6f4bb9b4',
  repo: 'blog',
  owner: 'tsuus',
  admin: ['tsuus'],
  id: 'official',    // Ensure uniqueness and length less than 50
  distractionFreeMode: true  // Facebook-like distraction free mode
  })
gitalk.render('gitalk-container')
 </script>
<!-- End Comment -->
	  
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
  
</article> <!-- End Article Page -->
